/* Set the body background color */
body {
    background-color: #f8f8f8;
  }
  
  /* Set the main container width and center it */
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  /* Set the header background color */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  /* Set the link color */
  a {
    color: #0070c9;
  }
  
  /* Set the button background and text color */
  .btn {
    background-color: #0070c9;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
  }
  
  /* Set the hover state for the button */
  .btn:hover {
    background-color: #005dab;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
  }
  
  footer a {
    color: #005dab;
  }

  .section3 {
    background-color: #333;
  }
  